.navbar {
    display: flex;
    padding-top: 40px;
    a {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 22px;

        color: #c8c9cb;
        margin-left: auto;
    }
}
